.nav-link {
    font-family: YuGothic;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #252525;
    margin-top: 25.5px;
    margin-bottom: 25.5px;
    margin-right: 32px;
}

.imglogo {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 24px;
}

.Button {
    height: 32px;
    width: 87px;
    left: 429px;
    border-radius: 4px;
    padding: 9px 16px 9px 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 16px;

    width: 87px;
    height: 32px;

    /* Button/Primary */

    background: #65CCC9;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: YuGothic;
    font-size: 14 px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20x;
    margin-right: 24px;
}

.header {
    height: 72px;
    width: 1440px;
    justify-content: space-between;
    display: flex;
    background-color: #FFFFFF;
}

.left_header {
    display: flex;
}